main{
    display: block;
    margin-top: 100px;
    padding-left: 2em;
    padding-right: 2em;
}

#slideshow{
    width: 90%;
    margin: 10px auto;
    
}

.mainSlideShowContainer{
    border: 2px solid #ccc;
    border-radius: 4px;
    border-style: double;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.mainSlideShowContainerDiv{
    height: 100%;
    display: flex;
    width: 1500%;
    transition: all 0.4s ease;
    border-left: none;
}

.workExperienceTile{
    flex-basis: 100%;
    display: flex;   
    flex-direction: column;
    justify-content: center;  
    align-items: center;
    background-color: #063146;
    color: #ccc;
    
}

.workExperienceTile h2{
    align-self: center;
    padding: 1em;
}

.controls span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.leftArrow{
    left: 10px;
}

.rightArrow{
    right: 10px
}

.controls i{
    font-size: 40px;
    color: #ccc;
}

/* Medium devices */
@media only screen and (min-width: 768px) {

}

/* Large devices */
@media only screen and (min-width: 992px){
    main{
        margin-top: 150px;
    }
}